input {
    border-radius: 5px;
    border: 0.8px solid #3e6595;
}
h3 {
    font-size: 14px;
    font-weight: 700;
}
label {
    cursor: pointer;
}
.area {
    display: flex;
    width: 100%;
}
.img_area {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: 0.8px solid #3e6595;
    margin: 0px 25px;
    margin-top: 25px;
    width: 50%;
    height: auto;
}
.img_area img {
    display: block;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.img_area img:hover {
    opacity: 0.8;
}
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.text_area {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 25px;
    width: 50%;
    height: auto;
}

.form_area {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 5px;
    border: 0.8px solid #3e6595;
    margin-top: 25px;
}
/* label과 input 상하 간격 띄우기 */
.form_area label {
    margin: 0; padding: 0;
    margin-bottom: 5px;
}

.idpw_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    margin-left: 25px;
}
.idpw_area label {
    display: flex;
    margin-top: 15px;
}
.idpw_area>h3 {
    margin: 0; padding: 0;
}
.idpw_area input {
    display: flex;
    width: 150px;
    height: 30px;
}

.idpw_area #username {
    color: gray;
    background-color: #f9f9f9;
}
.pwval_area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    margin-top: 10px;
    background-color: #2b70f8;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.joo_area{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 25px;
    height: 40%;
}
.joo_area label {
    display: flex;
}
.joo_area_label h3 {
    margin: 0; padding: 0;
}
.joo_area_input {
    display: flex;
}
.joo_area_input input {
    width: 170px;
    height: 30px;
    margin-right: 10px;
}

.val_area {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 30px;
    padding-top: 7px; /* text를 중앙에 위치하기 위해 */
    background-color: #2b70f8;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0px;
}
.btn_area {
    width: 100%;
    margin-top: 15px;
}
.btn {
    width: 100%;
    height: 50px;
    background-color: #2b70f8;
    border-radius: 5px;
    color: white;
}
.btn:hover {
    color: white;
}
.btn:focus {
    box-shadow: none;
}



.error_box {
    display: none;
    font-size: 12px;
    color: red;
}
.error_joo {
    display: flex;
    margin-bottom: 5px;
}
.alert_box {
    display: flex;
    font-size: 12px;
}
.point_color {
    color: #2b70f8;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal_content {
    margin: auto;
    display: block;
    width: 50%; height: auto;
    max-width: 1000px;
    border-radius: 10px;
    animation-name: zoom;
    animation-duration: 1s;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover, .close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 기존 input button 디자인 없애기*/
input[type="button"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
/* 기존 input submit 디자인 없애기 */
input[type="submit"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}