{% extends 'base.html' %}

{% block title %}
{{ question.subject }}
{% endblock %}

{% block content %}
        <div>
  	        <center>
  	            <br>
  	            <img src="{{ url_for('static',filename='images/aq.png') }}" width="50" style="margin-left: auto; margin-right: auto; display: block;" />
  	            <br>
  	            <center>
  	                <a class="btn btn-outline-dark btn-primar btn-sm" href="{{url_for('question._list')}}">
  	                    <h8>질문게시판</h8>
  	                </a> <a class="btn btn-outline-dark btn-primar btn-sm" href="{{ url_for('question.create') }}">
  	                    <h8>새로운 질문하기</h8>
  	                </a>
  	                <br>
  	            </center><br>
                <a href="{{ url_for('answer.create', question_id=question.id) }}" class="btn btn-primary">답변하기</a>
            </center>
  	        <hr width="100%" color="black" />
  	    </div>

<div class="container my-3 text-center">
    <h2 class="py-2">Q. {{ question.subject }}</h2>
    <h5>{{ question.content }}</h5>
    <div class="d-flex justify-content-end">
        <div>
            {{ question.create_date|datetime }}
        </div>
    </div>
    <hr width="100%" color="black" />
    <div class="alert alert-dismissible alert-primary">
        {% if question.answer_set|length == 0 %}
        <strong>아직 답변이 없습니다! 답변 해주시겠어요?</strong>
        {% else %}
        <strong>{{ question.answer_set|length }}개의 답변이 있습니다.</strong>
    </div>
        {% endif %}

    {% for answer in question.answer_set %}
    <div class="card my-3">
        <div class="card-body">
            <div class="toast-header">
                <strong class="me-auto">--님 답변</strong>
                <small class="text-right">
                    {{ answer.create_date|datetime }}
                </small>
            </div>
            <div class="card-body">
                {{ answer.content }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}