@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);


.detail_q_title{
    padding: 0px 35px;
}

.detail_answer_id_text {
    font-weight: bolder;
}
.detail_answer_time_text {
    margin-left: 15px;
    font-size: smaller;
}

.h3 { font-family: 'NanumSquare',
    sans-serif !important;
}

.comment {
    border-top:dotted 1px #ddd;
    font-size:0.7em;
}

#ckPrint > table > tbody > tr > td{
    text-align: center;
    min-width: 2em;
    padding: 0.4em;
    border: 1px solid black;
    border-collapse: collapse;
}

/* 맨위 로고 이미지 사이즈 클래스 */
.basic_img {
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
/* 폰트 사이즈 클래스 */
.14p {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}
.18p {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
/* 로고 밑 header 부분 */
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table {
    background-color: white;
    border-collapse: collapse;
}

table {
    font-size: 15px;
    font-weight: 700;
}
a { text-decoration:none }