{% extends "base.html" %}

{% block title %}
Main
{% endblock %}

{% block content %}
    <center>
  	    <div>
			<br>
  	        <center>
  	            <img src="{{ url_for('static',filename='images/login.png') }}" width="50" style="margin-left: auto; margin-right: auto; display: block;" />
  	            <h3><a href="#">Main</a></h3>
  	        </center>
  	        <hr width="100%" color="black" />
  	    </div>
  	</center>
	{% if g.user %}
    <center>
        <div>
		    <p> {{ g.user.name }}님 안녕하세요.</p>
		    <p>아이디 : {{ g.user.username }}</p>
			<p>이메일 : {{ g.user.email }}</p>
			<a href="{{ url_for('login.logout') }}" class="btn btn-primary">로그아웃</a>
	    </div>
    </center>
	{% else %}
    <center>
        <div>
		    <p>로그인 하지 않은 상태입니다.</p>
		    <p>서비스를 이용하려면 로그인해주세요.</p>
			<a href="{{url_for('login.signup')}}" class="btn btn-primary">회원가입</a>
			<a href="{{url_for('login.login')}}" class="btn btn-primary">로그인</a>
	    </div>
    </center>
	{% endif %}

{% endblock %}