{% extends "base.html" %}

{% block title %}
Main
{% endblock %}

{% block head %}
<style>
	/* nav 폰트 및 정렬 */
	.top_nav {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		font-family: 'NanumSquare';
    	font-size: 18px;
    	font-weight: 700;
	}
	/* nav 아이콘 */
	.top_icon:hover{
		transform: scale(1.2);
  		transition: transform 1s;
		opacity: 0.8;
	}
	/* body 정렬 */
	.main {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	/* span 폰트 정렬 */
	span {
		font-family: 'NanumSquare';
    	font-size: 18px;
    	font-weight: 700;
    	margin: 0;
    	padding: 5px 3px;
	}
	/* 폰트 굵기 조절 */
	.bold {
		font-weight: 900;
	}
	/* div 정렬 */
	.main_time{
		display: flex;
		align-items: center;
		margin-top: 25px;
	}
	/* 버튼 정렬 */
	.a_btn {
		display: flex;
		align-items: center;
		width: auto;
    	height: 35px;
    	background-color: #4e4e4e;
    	color: white;
    	font-family: 'NanumSquare';
    	font-size: 18px;
    	font-weight: 700;
    	border-radius: 8px;
    	padding: 20px;
    	margin-right: 5px;
    	cursor: pointer;
	}
	.a_btn:hover {
    	color: white;
    	background-color: #2b70f8;
	}
	.a_btn:focus {
    	box-shadow: none;
	}
	/* 타이머 구역 설정 */
	.area {
		width: auto;
		padding: 15px;
		border-radius: 20px;
		border: 0.8px solid #3e6595;
	}
	/* 타이머 폰트 설정 */
	.timer_font {
		font-size: 14px;
		font-weight: 400;
		padding: 15px;
	}
	/* 가리기 클래스스*/
	.hide {
		display: none;
	}
</style>
{% endblock %}

{% block content %}
<div class="top"><br>
	<div class="top_nav">
		<a class="top_icon" href="{{url_for('question._list')}}">
			<img src="{{ url_for('static',filename='images/aq.png') }}",
			 class="basic_img"/>질문게시판</a>
    	<a class="top_icon" href="{{url_for('board._list')}}">
			<img src="{{ url_for('static',filename='images/board.png') }}",
			 class="basic_img"/>자유게시판</a>
    	<a class="top_icon" href="{{url_for('ocr.main_page')}}">
			<img src="{{ url_for('static',filename='images/ocr.png') }}",
			 class="basic_img"/>오씨알</a>
		<a class="top_icon" href="{{url_for('cal.main')}}">
			<img src="{{ url_for('static',filename='images/calendar.png') }}",
			 class="basic_img"/>캘린더</a>
	</div>
</div>
<hr width="100%" color="black"/>

<!-- 유저가 로그인 되었을 때만 JS 실행 -->
{% if g.user %}
	<div class="main">
		<div>
			<span class="bold"> {{ g.user.name }}</span>
			<span>님 안녕하세요.</span>
		</div>
		<span>아이디 : {{ g.user.username }}</span>
		<span>이메일 : {{ g.user.email }}</span>
		<a href="{{ url_for('login.logout') }}" class="a_btn" id="logout">로그아웃</a>
		<div class="main_time area hide" id="time_area">
			<span id="timer" class="timer_font">9분59초</span>
			<a class="a_btn timer_font" id="time_btn">시간연장</a>
		</div>
	</div>

	<script src="{{ url_for('static', filename='js/login/login_timer.js') }}"></script>

<!-- 로그인이 안되었을 때 -->
{% else %}
	<div class="main">
		<span>로그인 하지 않은 상태입니다.</span>
		<span>서비스를 이용하려면 로그인해주세요.</span>
		<div class="main_time">
			<a href="{{url_for('login.signup')}}" class="a_btn">회원가입</a>
			<a href="{{url_for('login.login')}}" class="a_btn">로그인</a>
		</div>
	</div>
{% endif %}

{% endblock %}