<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
		<title>Login Service</title>
  </head>
  <body>
  	<center>
	  <div>
  		<h1>Login Page</h1>
  		<hr width="100%" color="black"/>
  		<center>
			<a href="{{url_for('files.main_page')}}">홈페이지</a>
			<hr width="100%" color="black"/>
			<img src="{{ url_for('static',filename='images/login.png') }}", width="50"
        	style="margin-left: auto; margin-right: auto; display: block;")/>
  			<h3>Please LOGIN !</h3>
  		</center>
  		<hr width="100%" color="black"/>
	  </div>
  	</center>
    <hr>
  </body>
</html>