{% extends "base.html" %}

{% block title %}
Main
{% endblock %}

{% block content %}
<center><br>
	<div class="d-flex justify-content-around">
		<a href="{{url_for('question._list')}}">
        <img src="{{ url_for('static',filename='images/aq.png') }}", width="50"
        style="margin-left: auto; margin-right: auto; display: block;")/>질문게시판
    	</a>
    	<a href="{{url_for('board._list')}}">
        <img src="{{ url_for('static',filename='images/board.png') }}", width="50"
        style="margin-left: auto; margin-right: auto; display: block;")/>자유게시판
    	</a>
    	<a href="{{url_for('ocr.main_page')}}">
        <img src="{{ url_for('static',filename='images/ocr.png') }}", width="50"
        style="margin-left: auto; margin-right: auto; display: block;")/>오씨알
    	</a>
	</div>
</center>

	<hr width="100%" color="black"/>
	{% if g.user %}
    <center>
        <div>
		    <p> {{ g.user.name }}님 안녕하세요.</p>
		    <p>아이디 : {{ g.user.username }}</p>
			<p>이메일 : {{ g.user.email }}</p>
			<a href="{{ url_for('login.logout') }}" class="btn btn-primary">로그아웃</a>
	    </div>
    </center>
	{% else %}
    <center>
        <div>
		    <p>로그인 하지 않은 상태입니다.</p>
		    <p>서비스를 이용하려면 로그인해주세요.</p>
			<a href="{{url_for('login.signup')}}" class="btn btn-primary">회원가입</a>
			<a href="{{url_for('login.login')}}" class="btn btn-primary">로그인</a>
	    </div>
    </center>
	{% endif %}
{% endblock %}
