{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ocr_style.css') }}">
{% endblock %}

{% block title %}
OCR PRINT
{% endblock %}

{% block content %}
<center>
  <div>
	<center><br>
        <img src="{{ url_for('static',filename='images/ocr.png') }}", width="50"
             style="margin-left: auto; margin-right: auto; display: block;")/>
    </center>
      <hr width="100%" color="black"/>
  </div>
</center>
<div class="ocr_container">
    <center>
        <h1>OCR로
            이미지를 텍스트로 변환하기
        </h1>
        <h5>변환된 결과입니다.</h5>
        <h6>변환된 이미지는 <strong class="point_color">{{kind}}</strong>이며,
            파일이름은 <strong class="point_color">{{name}}</strong>입니다.</h6>
    </center>
</div>
<hr width="100%" color="black"/>
<center>
<h5>
{{ ocr }}
</h5>
</center>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/ocr/ocr_print.js') }}"></script>
{% endblock %}