{% extends 'base.html' %}

{% block title %}
OCR Check Page
{% endblock %}

{% block content %}
<center>
  <div>
	<center><br>
        <img src="{{ url_for('static',filename='images/ocr.png') }}", width="50"
             style="margin-left: auto; margin-right: auto; display: block;")/>
    </center>
      <hr width="100%" color="black"/>
  </div>
</center>
<div class="ocr_container">
    <div class="ocr_left">
        <center>
        <span>하단 첨부버튼으로 이미지 파일을 첨부하여 결과를 확인해보세요.</span>
        <form action = "{{ url_for('files.upload_file') }}" method = "POST"
         enctype = "multipart/form-data">
            <input type = "file" name = "file"/>
            <input class="btn btn-dark" type = "submit"/>
        </form>
        </center>
    </div><hr width="100%" color="black"/>
</div>
<div class="ocr_container">
    <div class="ocr_left">
        <img src="{{path}}", style="margin-left: auto; margin-right: auto; display: block;")/>
    </div>
    <div class="output">
        {{ ocr }}
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}