{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ocr/ocr_main.css') }}">
{% endblock %}

{% block title %}
OCR Check Page
{% endblock %}

{% block content %}

<div>
    <br>
    <img src="{{ url_for('static',filename='images/ocr.png') }}" class="basic_img"/>
    <hr width="100%" color="black"/>
</div>

<div class="top">
    <h1>OCR로
        이미지를 텍스트로 변환하기
    </h1>
    <h5>변환된 주민등록번호입니다.</h5><br>
    <h6><span class="point_color 18p">{{name}}</span>님의 주민등록번호는</h6>
    <h6><span class="point_color 18p">{{fir_joo}}</span>-
        <span class="point_color 18p">{{sec_joo}}</span>입니다.</h6>
</div>
<hr width="100%" color="black"/>
{% endblock %}
