{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ocr/ocr_main.css') }}">
{% endblock %}
{% block title %}
OCR ERROR
{% endblock %}

{% block content %}
<div><br>
    <img src="{{ url_for('static',filename='images/ocr.png') }}" class="basic_img" />
      <hr width="100%" color="black"/>
</div>

<div class="top">
    <h1>NONType Error</h1>
    <h5>이미지파일을 읽어들일 수 없습니다. 다른 이미지파일을 사용해주세요.</h5><br>
    <a href="{{ url_for('ocr.main_page') }}" class="btn 18p">업로드 다시하기</a>
</div>
<hr width="100%" color="black"/>
{% endblock %}