{% extends 'base.html' %}

{% block title %}
{{ board.subject }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/board/board_detail.css') }}">
{% endblock %}

{% block content %}
<!--logo 상단 -->
<div class="top">
    <br>
    <img src="{{ url_for('static',filename='images/board.png') }}" class="basic_img"/>
    board
    <br>
<hr width="100%" color="black" />
</div>
<!--  flash 오류 메시지 출력 장소  -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
        {% endfor %}
    </div>
<!-- 글 제목 및 글 내용 -->
<div class="board_body">
    <!-- 글 제목 -->
    <div class="board_subject">
        <span class="subject_font">{{ board.subject }}</span>
    </div>

    <br>
    <!-- 작성자 프로필, 이름, 작성일자, 추천수, 조회수  -->
    <div class="board_pndh">
        <div class="board_pn">
            <!--  작성자 프로필 이미지  -->
            <img class="board_profile" src="{{url_for('static', filename='images/success.jpg')}}">
            <!--  작성자 이름  -->
            <span class="board_name">{{ board.user.name }} </span>
        </div>
        <!--  글 작성일자(수정일자)  -->
        {% if board.modify_date %}
            <span class="board_date">{{ board.modify_date|datetime }}(수정)</span>
        {% else %}
            <span class="board_date">{{ board.create_date|datetime }}</span>
        {% endif %}
        <!-- 추천 수 -->
        <span class="board_voter_length">추천 수 {{ board.voter|length }} </span>
        <!-- 조회 수 -->
        <span class="board_hits">조회 수 {{ board.hits }} </span>
    </div>

    <hr width="100%" color="black" />

    <!-- 글 내용  -->
    <span class="board_content">{% autoescape false %} {{ board.content }}{% endautoescape %}</span>

    <!-- 글 추천 -->
    <div class="board_voter">
        <a href="#" class="board_recommend" data-boardre="{{ url_for('vote.board', board_id=board.id) }}">
            <img class="voter_img" src="{{ url_for('static',filename='images/cool.png') }}"/>
        </a>
        <p class="voter_text">COOL</p>
    </div>
    <!-- 글 수정, 삭제 -->
    {% if g.user == board.user %}
    <div class="board_md">
        <a href="{{ url_for('board.modify', board_id=board.id) }}"
           class="md_btn">수정</a>
        <a href="#" class="md_btn board_delete"
           data-boarddel="{{ url_for('board.delete', board_id=board.id) }}">삭제</a>
    </div>
    {% endif %}

    <a class="comment_head">댓글 {{ board.comment_set|length }}개</a>

    <!-- 댓글 LIST -->
    <ul class="comment_ul">
        {% if board.comment_set|length > 0 %}
        {% for comment in board.comment_set %}
        <li>
            <div class="comment_list">
                <!-- 댓글 작성자 프로필, 이름, 작성일자, 추천수 -->
                <div class="comment_pndr board_pndh">
                    <!-- 이미지, 이름 묶음 -->
                    <div class="board_pn">
                        <!--  댓글 작성자 프로필 이미지  -->
                        <img class="board_profile" src="{{url_for('static', filename='images/success.jpg')}}">
                        <!--  댓글 작성자 이름  -->
                        <span class="board_name">{{ comment.user.name }}</span>
                    </div>
                    <!-- 작성일자, 추천수 묶음 -->
                    <div class="board_dv">
                        <!--  댓글 작성일자(수정일자)  -->
                        {% if comment.modify_date %}
                            <span class="">{{ comment.modify_date|datetime }}(수정)</span>
                        {% else %}
                            <span class="">{{ comment.create_date|datetime }}</span>
                        {% endif %}
                        <!-- 댓글 추천 수 -->
                        <span class="comment_voter_length">
                            <img class="voter_img comment_img"
                                 src="{{ url_for('static',filename='images/cool.png') }}"/>
                            9999
                        </span>
                    </div>
                </div>
                <!-- 댓글 내용 -->
                <div class="comment_body">
                    <!-- 글 작성자 본인이 댓글달면 텍스트가 파란색 -->
                    {% if board.user_id == comment.user_id %}
                        <span class="comment_content comment_content_me ">{{ comment.content }}</span>
                    {% else %}
                        <span class="comment_content">{{ comment.content }}</span>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
        {% endif %}
    </ul>

    <!-- 댓글 폼 출력 -->
    <div class="comment_form">
        <form action="{{ url_for('comment.create_board', board_id=board.id) }}"
              method="post" id="comment_form">
            {{ form.csrf_token }}
            <!-- 오류표시 Start -->
            {% for field, errors in form.errors.items() %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
            </div>
            {% endfor %}
            <!-- 오류표시 End -->
            <textarea form="comment_form" {% if not g.user %}disabled{% endif %}
                  name="content" id="content" class="form-control" rows="3"></textarea>

        </form>
    </div>
    <input form="comment_form" type="submit" value="댓글쓰기" class="comment_btn">
</div>


<br><br>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/board/board_detail.js') }}"></script>
{% endblock %}